---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/bills?state=nc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://openstates.org/api/v1/bills/?state=nc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 12:58:32 GMT
- request:
    method: get
    uri: http://openstates.org/api/v1/bills/?state=nc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"title": "Term Limits for BOG Members.", "created_at": "2015-03-26
        23:42:04", "updated_at": "2015-11-07 05:57:55", "id": "NCB00008846", "chamber":
        "upper", "state": "nc", "session": "2015", "type": ["bill"], "subjects": ["Government
        Reform", "Legislative Affairs", "Public Services", "Campaign Finance and Election
        Issues", "Labor and Employment", "Other", "State Agencies", "Education"],
        "bill_id": "SB 670"}, {"title": "Industrial Hemp.", "created_at": "2015-03-17
        23:30:01", "updated_at": "2015-11-07 05:57:40", "id": "NCB00008506", "chamber":
        "upper", "state": "nc", "session": "2015", "type": ["bill"], "subjects": ["Legislative
        Affairs", "Public Services", "Crime", "Labor and Employment", "Other", "Business
        and Consumers", "Animal Rights and Wildlife Issues", "Senior Issues", "Transportation",
        "Legal Issues", "Drugs", "Executive Branch", "Environmen[...]
