---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/bills/NCB00008846
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://openstates.org/api/v1/bills/NCB00008846/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 13:14:25 GMT
- request:
    method: get
    uri: http://openstates.org/api/v1/bills/NCB00008846/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"actions": [{"date": "2015-03-26 00:00:00", "action": "Filed", "type":
        ["bill:introduced"], "related_entities": [], "actor": "upper"}, {"date": "2015-03-30
        00:00:00", "action": "Passed 1st Reading", "type": ["bill:reading:1"], "related_entities":
        [], "actor": "upper"}, {"date": "2015-03-30 00:00:00", "action": "Ref To Com
        On Education/Higher Education", "type": ["committee:referred"], "related_entities":
        [], "actor": "upper"}, {"date": "2015-04-22 00:00:00", "action": "Reptd Fav
        Com Substitute", "type": ["committee:passed:favorable"], "related_entities":
        [], "actor": "u[...]
