---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/legislators/geo?lat=37.775&long=-122.418
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://openstates.org/api/v1/legislators/geo/?lat=37.775&long=-122.418
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Apr 2016 17:39:17 GMT
- request:
    method: get
    uri: http://openstates.org/api/v1/legislators/geo/?lat=37.775&long=-122.418
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"last_name": "Chiu", "updated_at": "2016-04-21 07:40:16", "sources":
        [{"url": "http://assembly.ca.gov/assemblymembers"}], "full_name": "David Chiu",
        "id": "CAL000452", "first_name": "David", "middle_name": "", "district": "17",
        "state": "ca", "boundary_id": "ocd-division/country:us/state:ca/sldl:17",
        "all_ids": ["CAL000452"], "leg_id": "CAL000452", "party": "Democratic", "active":
        true, "photo_url": "http://assembly.ca.gov/sites/assembly.ca.gov/files/memberphotos/AD17_Chiu_Portrait150_20141201.jpg",
        "roles": [{"term": "20152016", "end_date": null, "district": "17", "chamber":
        "lower", "state": "ca", "party": "Democratic", "type": "member", "start_date":
        null}, {"term": "20152016", "committee_id": "CAC000786", "chamber": "lower",
        "state": "ca", "subcommittee": null, "committee": "Improving Bay Area Transportation
        Systems", "position": "member", "type": "committee member"}, {"term": "20152016",
        "committee_id": "CAC000731", "chamber": "lower", "state": "ca", "subcommittee":
        null, "committee": "Budget", "position": "member", "type": "committee member"},
        {"term": "20152016", "committee_id": "CAC000683", "chamber": "lower", "state":
        "ca", "subcommittee": null, "committee": "Career Technical Education and Building
        a 21st Century Workforce", "position": "member", "type": "committee member"},
[...]
