---
http_interactions:
- request:
    method: get
    uri: https://openstates.org/api/v1/committees/AKC000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://openstates.org/api/v1/committees/AKC000001/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 13:28:45 GMT
- request:
    method: get
    uri: https://openstates.org/api/v1/committees/AKC000001/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"members": [{"leg_id": "AKL000062", "role": "chair", "name": "Senator
        Bishop"}, {"leg_id": "AKL000016", "role": "vice-chair", "name": "Senator Stedman"},
        {"leg_id": "AKL000011", "role": "member", "name": "Senator Hoffman"}, {"leg_id":
        "AKL000147", "role": "member", "name": "Senator MacKinnon"}, {"leg_id": "AKL000007",
        "role": "member", "name": "Senator Egan"}], "level": "state", "country": "us",
        "created_at": "2011-02-11 00:13:26", "updated_at": "2016-04-22 08:48:06",
        "all_ids": ["AKC000001"], "chamber": "upper", "state": "ak", "sources": [{"url":
        "http://www.legis.state.ak.us/basis/get_com_info.asp?comm=SCRA&session=29"}],
        "parent_id": null, "committee": "Community & Regional Affairs", "id": "AKC000001",
        "subcommittee": null}'
  recorded_at: Fri, 22 Apr 2016 13:28:45 GMT
recorded_with: VCR 3.0.1
