---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/districts/boundary/ocd-division/country:us/state:nc/sldl:100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://openstates.org/api/v1/districts/boundary/ocd-division/country%3Aus/state%3Anc/sldl%3A100/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 14:00:36 GMT
- request:
    method: get
    uri: http://openstates.org/api/v1/districts/boundary/ocd-division/country:us/state:nc/sldl:100/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"division_id": "ocd-division/country:us/state:nc/sldl:100", "name":
        "100", "region": {"lon_delta": 0.12895399999999313, "center_lon": -80.76549,
        "lat_delta": 0.14055799999999863, "center_lat": 35.188063}, "chamber": "lower",
        "shape": [[[[-80.829967, 35.214666], [-80.827533, 35.216998], [-80.829668,
        35.218518], [-80.829606, 35.21936], [-80.828976, 35.219537], [-80.829431,
        35.219864], [-80.828336, 35.220439], [-80.821655, 35.221932], [-80.818551,
        35.221321], [-80.817755, 35.223424], [-80.81293, 35.227659], [-80.811976,
        35.22947], [-80.811067, 35.232901], [-80.807975, 35.232736], [-80.805402,
        35.2348], [-80.802635, 35.23638], [-80.803331, 35.242009], [-80.806261, 35.242591],
        [-80[...]
