---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/districts/boundary/ocd-division/country:us/state:ny/sldl:100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://openstates.org/api/v1/districts/boundary/ocd-division/country%3Aus/state%3Any/sldl%3A100/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 14:44:18 GMT
- request:
    method: get
    uri: http://openstates.org/api/v1/districts/boundary/ocd-division/country:us/state:ny/sldl:100/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"division_id": "ocd-division/country:us/state:ny/sldl:100", "name":
        "100", "region": {"lon_delta": 0.8694629999999961, "center_lon": -74.7117145,
        "lat_delta": 0.599659999999993, "center_lat": 41.716544999999996}, "chamber":
        "lower", "shape": [[[[-75.145891, 41.851153], [-75.093738, 41.875087], [-75.001668,
        41.916393], [-74.920547, 41.953489], [-74.828708, 41.994017], [-74.780693,
        42.016375], [-74.749602, 42.002937], [-74.655032, 41.963676], [-74.709773,
        41.848377], [-74.68159, 41.840608], [-74.6889, 41.824258], [-74.662644, 41.820811],
        [-74.629819, 41.811581], [-74.618827, 41.822816], [-74.572283, 41.809856],
        [-74.568163, 41.808668], [-74.568226, 41.808261], [-74.567926, 41.808602],
        [[...]
